* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
}

.form_row {
    display: flex;
    justify-content: flex-start;
}

.form_field {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.form_field textarea {
    min-height: 70px;
}

.noflex {
    display: inline-block;
    width: 100%;
}

.form_action {
    display: flex;
    justify-content: center;
}


 
